header {
  height: env(titlebar-area-height, 0px);
  width: env(titlebar-area-width, 0px);
  display: flex;
  position: relative;
  top: 0;
  margin: -8px;
  align-items: center;
  padding: 0 12px;
  background: #0f172a;
  color: white;
  -webkit-app-region: drag;
}

button {
  -webkit-app-region: no-drag;
}
